* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  padding-left: 5px;
}

.get-app {
  text-align: center;
}

.app-store-logo {
  margin-top: 20px;
  max-height: 40px;
  max-width: 100%;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  padding: 5px;
  margin: 3px;
}

.login-button {
  background-color: #0095f6;
  text-align: center;
  color: white;
  border-radius: 3px;
  width: 80%;
  border: none;
  margin: 10px;
  padding: 5px;
}

.log-in-with-facebook {
  padding-top: 25px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: #385185;
}

.forget-password {
  font-size: 12px;
}

.sign-up-link {
  color: red !important;
}

.instagram-logo {
  padding: 25px;
}

.divider-or {
  display: flex;
  align-items: center;
  color: #8e8e8e;
  font-size: 13px;
}

.divider-or::before,
.divider-or::after {
  content: "";
  height: 1px;
  background-color: #dbdbdb;
  flex-grow: 1;
  margin: 10px;
}

.get-app {
  font-size: 13px;
}

/* Destop User */
@media only screen and (min-width: 600px) {
  body {
    background-color: #fafafa;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  }

  #section-login {
    max-height: 100%;
    justify-self: stretch;
    margin-bottom: 15px;
    border: 1px solid #dbdbdb;
    text-align: center;
    background-color: white;
    padding-bottom: 30px;
  }

  #section-signup {
    max-height: 100%;
    justify-self: stretch;
    margin-bottom: 15px;
    border: 1px solid #dbdbdb;
    text-align: center;
    padding: 20px;
    font-size: 12px;
    background-color: white;
  }

  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(1fr, 2fr, 2fr, 1fr);
    grid-row: 4fr 1fr;
    justify-content: center;
    place-items: center;
  }

  .static-phone {
    grid-column: 2;
  }

  .login-details {
    grid-column: 3;
  }

  .footer {
    grid-column: 1 / 5;
    color: #878b94;
    font-size: 0.8rem;
    text-align: center;
  }
}

/* Mobil User */
@media only screen and (max-width: 600px) {
  body {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  }

  #section-login {
    max-height: 100%;
    justify-self: stretch;
    margin-bottom: 15px;
    text-align: center;
    padding-bottom: 30px;
  }

  #section-signup {
    max-height: 100%;
    justify-self: stretch;
    margin-bottom: 15px;
    text-align: center;
    padding: 20px;
    font-size: 12px;
  }

  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(1fr, 2fr, 2fr, 1fr);
    grid-row: 4fr 1fr;
    justify-content: center;
    place-items: center;
  }

  .static-phone {
    display: none;
  }

  .login-details {
    grid-column: 3;
  }

  .footer {
    grid-column: 1 / 5;
    color: #878b94;
    font-size: 0.8rem;
    text-align: center;
  }
}
